* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ffffffb8;
  color: #1b1a1a;
}

.app {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  height: 100px;
  /* background-color: rgb(192, 223, 192); */
}

.navleft {
  font-size: 2rem;
  font-weight: 600;
}

.nav-middle {
  display: flex;
  gap: 4rem;
}

.nav-middle h1 {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.nav-middle h1:hover {
  border-color: black;
}

.navbar button {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: black;
  color: #fff;
  font-size: 1.2rem;
  transition: all ease 0.4s;
}

.navbar button:active {
  background: transparent;
  color: black;
}

.hero {
  width: 100vw;
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1714841197683-9bb219f6dca5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.hero h1 {
  color: #fff;
  font-weight: 100;
  font-size: 3rem;

  text-align: center;
  margin-top: 10px;
}

.hero p {
  color: #fff;
  font-size: 20px;
  width: 50%;

  text-align: center;
}

.hero button {
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
}

.herobottom {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  margin-top: 12rem;
}
.herobottom h1 {
  font-size: 1rem;
  font-weight: 100;
  padding: 10px 20px;
  width: 40%;
}

.herobottom .imgbox {
  width: 20%;
  height: 100px;
  display: flex;
  background-color: rgb(222, 213, 213);
  padding: 10px 20px;
  border-radius: 35px;
}

.imgbox img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.social-media {
  width: 100%;
  display: flex;

  gap: 0.5rem;
}

.social-media h1 {
  width: 100%;
  font-size: 1rem;
  text-decoration: underline;
}

.section2 {
  width: 100%;
  height: 100vh;
 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.section2 .top {
 
  display: flex;

  justify-content: space-around;
  align-items: center;
  gap: 30rem;
  width: 100%;
  padding: 10px;
}

.section2 .top p {
  padding: 10px 10px;
  
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.section2 .top h1 {
  text-align: left;
  font-size: 1.5rem;
  width: 40%;
  font-weight: 100;

}

.section2 .middle {
 padding: 10px 0px;
 padding-left: 50px;
  display: flex;
  
  gap: 6rem;
 
  width: 100%;
}

.section2 .middle .card1{
  background-color: rgb(79, 77, 77);
  width: 400px;
  height: 300px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  color: #FFF;
}

.section2 .middle .card1 h1{
  font-size: 2rem;
  font-weight: 100;
}

.section2 .middle .card1 i{
  font-size: 2.2rem;
  color: #FFF;
}

.section2 .middle .card1 p{
  font-size: 1.2rem;
}

.section2 .middle .card2{
 
  background: url(https://i.pinimg.com/736x/56/b4/3e/56b43eb1d955b52b683fe25da81fb596.jpg);
  background-size: cover;
  width: 400px;
  height: 300px;
  border-radius: 15px;
}

.section2 .middle .card2 p{
  color: #fff;
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  background-color: #ffffff5e;
  padding: 10px 20px;
  width: fit-content;
  text-align: center;
  margin-left: 100px;
  border-radius: 15px;


}

.section2 .middle .card3{
  background-color: rgb(150, 148, 144);
  width: 400px;
  height: 300px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.section2 .middle .card3 h1{
  font-size: 5rem;
  font-weight: 300;
}


.section2 .middle .card3 h3{
  font-size: 1.5rem;
}

.section2 .middle .card3 p{
  font-size: 1.2rem;
}

.section2 .bottom {
  background-color: rgb(237, 243, 242);

  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 10px;
  text-align: center;
}

.section2 .bottom h2{
  font-size: 2rem;
}

.section2 .bottom p{
  font-size: 1.2rem;
}

