* {
     margin: 0 ;
     padding: 0;
     box-sizing: border-box;
}
html,
body {
        height:100%;
        width:100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: #111;
  color: #fff;
  padding: 20px 30px;

  
}

.app{
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

 
 
}

.card{
  width: 280px;
  height: 300px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 0.5rem;
  box-shadow: 0px 0px 0px #000;
  transition: all ease 0.5s;
}

.card:hover{
  box-shadow: 0px 8px 6px #fff;
}

.img{
  height: 120px;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

.img:hover img{
  scale: 1.5;
}


h1{
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}

.details{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.details h3{
  font-size: 1.1rem;
  font-weight: 100;

}



h3 .type{
  background-color: rgba(17, 129, 17, 0.829);
  margin-left: 10px;
  font-weight: 100;
  padding: 8px 20px;
  border-radius: 10px;
  color: #fff;
}